@use "mixins"as *;

.header {
  position: relative;
  padding: 30px 50px;

  &__container-big {
    display: grid;
    align-items: center;
    grid-template-columns: 100px 1fr;

    @include media(1024) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    width: 250px;

    @include media(1024) {
      position: absolute;
      right: 0;
      top: 0;
      flex-direction: column;
      gap: 30px;
    }
  }

  @include media(1024) {
    padding: 30px;
  }

  @include media(700) {
    padding: 30px 15px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s;

  &__list {
    @include media(1024) {
      &:last-child {
        margin-top: 40px;
      }
    }
  }

  &__item {
    display: inline-block;

    @include media(1024) {
      display: block;
      margin-top: 30px;
      text-align: center;
    }

    &:not(:first-child) {
      margin-left: 50px;

      @include media(1024) {
        margin-left: 0;
      }
    }
  }

  &__link {
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #585858;
    transition: 0.2s;

    &:hover {
      color: var(--mainColor);
    }

    &:active {
      color: #ffaeaa;
    }
  }

  @include media(1024) {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    flex-direction: column;
    padding: 100px 20px 70px;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -100%);
  }

  &_active {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}

.search {
  width: 16px;
  height: 16px;

  &__svg {
    width: 16px;
    height: 16px;
    fill: #585858;
    transition: 0.2s;
  }

  &:hover {
    .search__svg {
      fill: var(--mainColor);
    }
  }

  &:active {
    .search__svg {
      fill: #ffaeaa;
    }
  }
}

.sign-in {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #585858;

  &:hover {
    color: var(--mainColor);
  }

  &:active {
    color: #ffaeaa;
  }
}

.burger-wrap {
  z-index: 11;
  display: none;
  justify-self: end;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  line-height: 46px;
  text-align: center;
  background-color: var(--mainColor);

  @include media(1024) {
    display: block;
  }
}

.burger {
  @include burger;

  & {
    width: 20px;
    height: 15px;
    color: #fff;
  }
}
