<section class="advantages">
  <div class="container advantages__container">
    <h2 class="section-title advantages__section-title">
      Build your needs <br> with Archmove
    </h2>
    <div class="advantages__content">
      <div class="advantages__img"></div>
      <div class="advantages__txt">
        <ul class="list-reset advantages__list">
          <li class="advantages__item">
            <h3 class="advantages__item-title">100% guaranteed project completion</h3>
            <p class="advantages__item-par">
              Build safe, comfortable and transparent with a project management application with a joint account.
            </p>
          </li>
          <li class="advantages__item">
            <h3 class="advantages__item-title">No additional fees</h3>
            <p class="advantages__item-par">
              There are no hidden costs. The value of the offer you get is the value you paid.
            </p>
          </li>
          <li class="advantages__item">
            <h3 class="advantages__item-title">Get escort from the Team</h3>
            <p class="advantages__item-par">
              Monitor reports from the Arsitag team who check directly in the field.
            </p>
          </li>
        </ul>
        <button class="btn-reset btn advantages__btn">Free Consultation</button>
      </div>
    </div>
  </div>
</section>