<footer class="footer">
  <div class="container footer__container">
    <ul class="list-reset footer__list">
      <li class="footer__item">
        <a href="#" class="footer__link">About Us</a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">How it Works</a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">FAQ</a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">Contact Us</a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">Privacy Policy</a>
      </li>
    </ul>
    <picture class="logo footer__logo">
      <source class="logo__src" srcset="./img/logo.svg" type="image/webp">
      <img class="logo__img" loading="lazy" src="./img/logo.svg" width="60" height="28" alt="Logo">
    </picture>
  </div>
</footer>