<section class="gallary">
  <div class="container gallary__container">
    <div class="gallary__buttons">
      <button class="btn-reset swiper-button swiper-button_prev gallary__swiper-button_prev"
        aria-label="Previous slide">
        <svg class="swiper-button__svg">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
      <button class="btn-reset swiper-button swiper-button_next gallary__swiper-button_next" aria-label="Next slide">
        <svg class="swiper-button__svg">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
    <h2 class="section-title gallary__section-title">
      Build professional <br> valuable room for you
    </h2>
    <div class="swiper gallary__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture class="picture gallary__picture">
            <source class="picture__src" srcset="./img/gallary__img_1.webp" type="image/webp">
            <img class="picture__img" loading="lazy" src="./img/gallary__img_1.jpg" width="305" height="432"
              alt="An interior design option for a home">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="picture gallary__picture">
            <source class="picture__src" srcset="./img/gallary__img_2.webp" type="image/webp">
            <img class="picture__img" loading="lazy" src="./img/gallary__img_2.jpg" width="305" height="432"
              alt="An interior design option for a home">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="picture gallary__picture">
            <source class="picture__src" srcset="./img/gallary__img_3.webp" type="image/webp">
            <img class="picture__img" loading="lazy" src="./img/gallary__img_3.jpg" width="305" height="432"
              alt="An interior design option for a home">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="picture gallary__picture">
            <source class="picture__src" srcset="./img/gallary__img_4.webp" type="image/webp">
            <img class="picture__img" loading="lazy" src="./img/gallary__img_4.jpg" width="305" height="432"
              alt="An interior design option for a home">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="picture gallary__picture">
            <source class="picture__src" srcset="./img/gallary__img_1.webp" type="image/webp">
            <img class="picture__img" loading="lazy" src="./img/gallary__img_1.jpg" width="305" height="432"
              alt="An interior design option for a home">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="picture gallary__picture">
            <source class="picture__src" srcset="./img/gallary__img_2.webp" type="image/webp">
            <img class="picture__img" loading="lazy" src="./img/gallary__img_2.jpg" width="305" height="432"
              alt="An interior design option for a home">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="picture gallary__picture">
            <source class="picture__src" srcset="./img/gallary__img_3.webp" type="image/webp">
            <img class="picture__img" loading="lazy" src="./img/gallary__img_3.jpg" width="305" height="432"
              alt="An interior design option for a home">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="picture gallary__picture">
            <source class="picture__src" srcset="./img/gallary__img_4.webp" type="image/webp">
            <img class="picture__img" loading="lazy" src="./img/gallary__img_4.jpg" width="305" height="432"
              alt="An interior design option for a home">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>