<header class="header">
  <div class="container-big header__container-big">
    <picture class="logo header__logo">
      <source class="logo__src" srcset="./img/logo.svg" type="image/webp">
      <img class="logo__img" loading="lazy" src="./img/logo.svg" width="60" height="28" alt="Logo">
    </picture>
    <nav class="nav header__nav" title="nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">Design Gallery</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">List of Architect</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Articles</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">How it Works</a>
        </li>
      </ul>
    </nav>
    <div class="header__buttons">
      <button class="btn-reset search">
        <svg class="search__svg">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button>
      <button class="btn-reset sign-in">Sign In</button>
      <button class="btn-reset btn sign-up">Sign Up</button>
    </div>
  </div>
</header>