<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">Build Your <br> Dream <span class="hero__title_span">House</span></h1>
    <p class="hero__txt">
      The first and most trusted marketplace of design & build house in The World. 100% guaranteed Build safe,
      comfortable and transparent with a project management for the best result
    </p>
    <picture class="picture hero__picture">
      <source class="picture__src" srcset="./img/hero__img.webp" type="image/webp">
      <img class="picture__img" loading="lazy" src="./img/hero__img.jpeg" width="765" height="480"
        alt="Interior of the room">
    </picture>
    <button class="btn-reset btn hero__btn">Free Consultation</button>
  </div>
</section>