<section class="partners">
  <div class="container partners__container">
    <h2 class="section-title partners__section-title">Our Partners</h2>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <picture class="picture partners__picture">
          <source class="picture__src" srcset="./img/partners__img_1.webp" type="image/webp">
          <img class="picture__img" loading="lazy" src="./img/partners__img_1.png" width="161" height="60"
            alt="The logo of The American Institute of Architects">
        </picture>
      </li>
      <li class="partners__item">
        <picture class="picture partners__picture">
          <source class="picture__src" srcset="./img/partners__img_2.webp" type="image/webp">
          <img class="picture__img" loading="lazy" src="./img/partners__img_2.png" width="140" height="60"
            alt="The logo of CF Moller Architects">
        </picture>
      </li>
      <li class="partners__item">
        <picture class="picture partners__picture">
          <source class="picture__src" srcset="./img/partners__img_3.webp" type="image/webp">
          <img class="picture__img" loading="lazy" src="./img/partners__img_3.png" width="210" height="60"
            alt="The logo of American Society of Landscape Architect">
        </picture>
      </li>
      <li class="partners__item">
        <picture class="picture partners__picture">
          <source class="picture__src" srcset="./img/partners__img_4.webp" type="image/webp">
          <img class="picture__img" loading="lazy" src="./img/partners__img_4.png" width="94" height="60"
            alt="The logo of Stir">
        </picture>
      </li>
      <li class="partners__item">
        <picture class="picture partners__picture">
          <source class="picture__src" srcset="./img/partners__img_5.webp" type="image/webp">
          <img class="picture__img" loading="lazy" src="./img/partners__img_5.png" width="213" height="60"
            alt="The logo of Marketing Architects">
        </picture>
      </li>
    </ul>
  </div>
</section>