<section class="reviews">
  <div class="container reviews__container">
    <h2 class="section-title reviews__section-title">
      Sound Too Good <br> To Be True?
    </h2>
    <div class="swiper reviews__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="review">
            <p class="review__par">
              We just wanted to thank you for this fantastic website! We are so grateful for being able to advertise our
              Petite cabin and receive feedback from people from all over the U.S. and even further.
            </p>
            <p class="review__name">
              <span class="review__name_span">Adam Morph</span> — CEO Alfatech
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <p class="review__par">
              We just wanted to thank you for this fantastic website! We are so grateful for being able to advertise our
              Petite cabin and receive feedback from people from all over the U.S. and even further.
            </p>
            <p class="review__name">
              <span class="review__name_span">Adam Morph</span> — CEO Alfatech
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <p class="review__par">
              We just wanted to thank you for this fantastic website! We are so grateful for being able to advertise our
              Petite cabin and receive feedback from people from all over the U.S. and even further.
            </p>
            <p class="review__name">
              <span class="review__name_span">Adam Morph</span> — CEO Alfatech
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <p class="review__par">
              We just wanted to thank you for this fantastic website! We are so grateful for being able to advertise our
              Petite cabin and receive feedback from people from all over the U.S. and even further.
            </p>
            <p class="review__name">
              <span class="review__name_span">Adam Morph</span> — CEO Alfatech
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <p class="review__par">
              We just wanted to thank you for this fantastic website! We are so grateful for being able to advertise our
              Petite cabin and receive feedback from people from all over the U.S. and even further.
            </p>
            <p class="review__name">
              <span class="review__name_span">Adam Morph</span> — CEO Alfatech
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews__buttons">
      <button class="btn-reset swiper-button swiper-button_prev reviews__swiper-button_prev"
        aria-label="Previous slide">
        <svg class="swiper-button__svg">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
      <button class="btn-reset swiper-button swiper-button_next reviews__swiper-button_next" aria-label="Next slide">
        <svg class="swiper-button__svg">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>